# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local backend config (if any)
backend.tf.backup

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# SSH Keys
*.pem

**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# ignore tfvars that contain secrets
**/terraform.tfvars
**/*.auto.tfvars